body{
    margin-top: 10%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(82, 235, 158, 0.884);
}
.clock{
    height: 40vh;
    width: 60%;
    background-color: rgb(238, 218, 129);
    position: relative;
    display: flex;
    justify-content: center;
    
    align-items: center;
    box-shadow: inset -5px 1px 17px 6px rgb(226, 162, 162);
}
.hour{
    height: 100%;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.min{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hour_box{
    height: 100%;
    width: 48%;
    float: left;
    border: 1px solid rgb(218, 173, 173);
    background-color:  rgb(204, 247, 237);
    box-shadow: 3px 13px 17px 0px rgb(70, 66, 66);
}
.min_box{
    height: 100%;
    width: 48%;
    float: left;
    border: 1px solid  rgb(218, 173, 173);
    background-color: rgb(204, 247, 237);
    box-shadow: 3px 13px 17px 0px rgb(70, 66, 66);
    
}
.sec_box{
    height: 100%;
    width: 48%;
    float: left;
    border: 1px solid  rgb(218, 173, 173);
    background-color:  rgb(204, 247, 237);
    box-shadow: 3px 13px 17px 0px rgb(70, 66, 66);
}
.led{
    height: 14.28%;
    width: 20%;
    float: left;
    background-color: aliceblue;
}

.devider{
    height: 100%;
    width: 10%;
    /* margin-left: 20px; */
    display:flex;
    /* flex-direction: row; */
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
}
.dot{
    height: 20%;
    width: 55%;
    border-radius: 10px;;
    background-color:   rgb(6, 133, 72);
    box-shadow: 3px 13px 17px 0px red;

 }
 @media only screen and (max-width:1100px) and (min-width:900px) {

    .clock{
        height: 30vh;
        width: 70%;
    }

}

@media only screen and (max-width:900px) and (min-width:700px) {

    .clock{
        height: 20vh;
        width: 80%;
    }

}
 @media only screen and (max-width:700px) and (min-width:500px) {

    .clock{
        height: 20vh;
        width: 80%;
    }

}


@media only screen and (max-width:540px) and (min-width:400px) {

    .clock{
        height: 20vh;
        width: 100%;
    }

}

@media only screen and (max-width:400px) {

    .clock{
        height: 10vh;
        width: 100%;
    }

}





 /* responsive */


